[Unit]
Description=Yeelight BLE Daemon Service

[Service]
Type=simple
ExecStart=/usr/local/bin/yeelightble
Restart=always

[Install]
WantedBy=multi-user.target